In [1]:
import pandas as pd 
import numpy as np

In [105]:
df= pd.read_excel(r"C:\Users\udayk\Downloads\shopping.xlsx")
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1.0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,13.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3.0,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4.0,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5.0,145.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [106]:
df.drop("Customer ID",axis=1,inplace=True)

In [107]:
df.head()

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,13.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,145.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

### Missing values

In [108]:
df.isna().sum()

Age                       2
Gender                    5
Item Purchased            4
Category                  4
Purchase Amount (USD)     0
Location                  2
Size                      0
Color                     4
Season                    3
Review Rating             2
Subscription Status       2
Shipping Type             0
Discount Applied          7
Promo Code Used           7
Previous Purchases        0
Payment Method            4
Frequency of Purchases    3
dtype: int64

In [109]:
df['Age'].fillna(df["Age"].median(),inplace=True)

df['Gender'].fillna(df["Gender"].mode()[0],inplace=True)

df['Item Purchased'].fillna(df["Item Purchased"].mode()[0],inplace=True)

df['Category'].fillna(df["Category"].mode()[0],inplace=True)

df['Location'].fillna(df["Location"].mode()[0],inplace=True)

df['Color'].fillna(df["Color"].mode()[0],inplace=True)

df['Season'].fillna(df["Season"].mode()[0],inplace=True)

df["Review Rating"].fillna(df["Review Rating"].median(),inplace=True)

df["Discount Applied"].fillna(df["Discount Applied"].mode()[0],inplace=True)

df["Subscription Status"].fillna(df["Subscription Status"].mode()[0],inplace=True)

df["Promo Code Used"].fillna(df["Promo Code Used"].mode()[0],inplace=True)

df["Payment Method"].fillna(df["Payment Method"].mode()[0],inplace=True)

df["Frequency of Purchases"].fillna(df["Frequency of Purchases"].mode()[0],inplace=True)

In [110]:
df.isna().sum()

Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

### Outlier Detection

### For Age

In [111]:
df[(df["Age"]>100) | (df["Age"]<0)]

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
4,145.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
2662,333.0,Male,T-shirt,Clothing,56,New Mexico,S,Lavender,Summer,3.9,No,Next Day Air,No,No,4,Debit Card,Every 3 Months

In [112]:
cond= (df["Age"]>100) | (df["Age"]<0)

In [113]:
df["Age"]= np.where(cond,df["Age"].median(),df["Age"])

In [114]:
df[(df["Age"]>100) | (df["Age"]<0)]

Empty DataFrame
Columns: [Age, Gender, Item Purchased, Category, Purchase Amount (USD), Location, Size, Color, Season, Review Rating, Subscription Status, Shipping Type, Discount Applied, Promo Code Used, Previous Purchases, Payment Method, Frequency of Purchases]
Index: []

### For Review Rating

In [115]:
df[df["Review Rating"]>5]

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
1,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,13.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
11,30.0,Male,Shorts,Clothing,68,Hawaii,S,Olive,Winter,14.9,Yes,Store Pickup,Yes,Yes,10,Bank Transfer,Fortnightly
74,49.0,Male,Gloves,Accessories,58,Indiana,L,Violet,Spring,14.5,Yes,Express,Yes,Yes,3,Cash,Monthly
244,53.0,Male,Belt,Accessories,42,Oregon,S,Indigo,Spring,224.9,Yes,2-Day Shipping,Yes,Yes,39,PayPal,Weekly

In [116]:
cond1 = df["Review Rating"]>5

In [117]:
df["Review Rating"]= np.where(cond1,df["Review Rating"].median(),df["Review Rating"])

In [118]:
df[df["Review Rating"]>5]

Empty DataFrame
Columns: [Age, Gender, Item Purchased, Category, Purchase Amount (USD), Location, Size, Color, Season, Review Rating, Subscription Status, Shipping Type, Discount Applied, Promo Code Used, Previous Purchases, Payment Method, Frequency of Purchases]
Index: []

### Duplicate values

In [119]:
len(df[df.duplicated()])

30

In [120]:
df.drop_duplicates(inplace= True)

In [121]:
len(df[df.duplicated()])

0

### Type casting

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2652 entries, 0 to 2667
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     2652 non-null   float64
 1   Gender                  2652 non-null   object
 2   Item Purchased          2652 non-null   object
 3   Category                2652 non-null   object
 4   Purchase Amount (USD)   2652 non-null   int64
 5   Location                2652 non-null   object
 6   Size                    2652 non-null   object
 7   Color                   2652 non-null   object
 8   Season                  2652 non-null   object
 9   Review Rating           2652 non-null   float64
 10  Subscription Status     2652 non-null   object
 11  Shipping Type           2652 non-null   object
 12  Discount Applied        2652 non-null   object
 13  Promo Code Used         2652 non-null   object
 14  Previous Purchases      2652 non-null   int64
 15  Payment Method          2652 non-null   object
 16  Frequency of Purchases  2652 non-null   object
dtypes: float64(2), int64(2), object(13)
memory usage: 372.9+ KB

In [123]:
df["Purchase Amount (USD)"]= df["Purchase Amount (USD)"].astype("int8")

df["Review Rating"]= df["Review Rating"].astype("float16")

df["Previous Purchases"]= df["Previous Purchases"].astype("int8")

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2652 entries, 0 to 2667
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     2652 non-null   float64
 1   Gender                  2652 non-null   object
 2   Item Purchased          2652 non-null   object
 3   Category                2652 non-null   object
 4   Purchase Amount (USD)   2652 non-null   int8
 5   Location                2652 non-null   object
 6   Size                    2652 non-null   object
 7   Color                   2652 non-null   object
 8   Season                  2652 non-null   object
 9   Review Rating           2652 non-null   float16
 10  Subscription Status     2652 non-null   object
 11  Shipping Type           2652 non-null   object
 12  Discount Applied        2652 non-null   object
 13  Promo Code Used         2652 non-null   object
 14  Previous Purchases      2652 non-null   int8
 15  Payment Method          2652 non-null   object
 16  Frequency of Purchases  2652 non-null   object
dtypes: float16(1), float64(1), int8(2), object(13)
memory usage: 321.1+ KB

### Variance Check

In [125]:
df.head()

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.099609,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.800781,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.099609,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.500000,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,44.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.699219,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [126]:
df['Age'].var()

234.79773988927028

In [127]:
df["Gender"].nunique()  #As there is only one value, variance= 0, So these values doesn't contribute anything to the analysis.

1

In [128]:
df.drop("Gender",axis=1,inplace=True)

In [129]:
df["Item Purchased"].nunique()

25

In [152]:
df["Category"].nunique()

4

In [132]:
df["Purchase Amount (USD)"].var()

566.9149471470682

In [133]:
df["Location"].nunique()

50

In [135]:
df["Size"].nunique()

4

In [139]:
df["Color"].nunique()

25

In [140]:
df["Season"].nunique()

4

In [141]:
df["Review Rating"].var()

0.5083

In [142]:
df["Subscription Status"].nunique()

2

In [143]:
df["Shipping Type"].nunique()

6

In [144]:
df["Discount Applied"].nunique()

2

In [145]:
df["Promo Code Used"].nunique()

2

In [146]:
df["Previous Purchases"].var()

206.5995283091329

In [147]:
df["Payment Method"].nunique()

6

In [148]:
df["Frequency of Purchases"].nunique()

7

In [150]:
df.head()

,Age,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,55.0,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.099609,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,19.0,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.800781,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,50.0,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.099609,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,21.0,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.500000,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,44.0,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.699219,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

### Dummy variable

### One Hot Encoding

In [156]:
pd.get_dummies(df.Category,dtype= int)

      Accessories  Clothing  Footwear  Outerwear
0               0         1         0          0
1               0         1         0          0
2               0         1         0          0
3               0         0         1          0
4               0         1         0          0
...           ...       ...       ...        ...
2663            0         0         1          0
2664            0         1         0          0
2665            1         0         0          0
2666            0         1         0          0
2667            0         0         1          0

[2652 rows x 4 columns]

In [158]:
pd.get_dummies(df.Size,dtype= int)

      L  M  S  XL
0     1  0  0   0
1     1  0  0   0
2     0  0  1   0
3     0  1  0   0
4     0  1  0   0
...  .. .. ..  ..
2663  0  1  0   0
2664  0  1  0   0
2665  0  1  0   0
2666  1  0  0   0
2667  0  1  0   0

[2652 rows x 4 columns]

In [160]:
pd.get_dummies(df.Season,dtype= int)

      Fall  Spring  Summer  Winter
0        0       0       0       1
1        0       0       0       1
2        0       1       0       0
3        0       1       0       0
4        0       1       0       0
...    ...     ...     ...     ...
2663     0       0       1       0
2664     0       1       0       0
2665     1       0       0       0
2666     0       0       1       0
2667     0       0       1       0

[2652 rows x 4 columns]

In [162]:
pd.get_dummies(df["Subscription Status"],dtype= int)

      No  Yes
0      0    1
1      0    1
2      0    1
3      0    1
4      0    1
...   ..  ...
2663   1    0
2664   1    0
2665   1    0
2666   1    0
2667   1    0

[2652 rows x 2 columns]

In [163]:
pd.get_dummies(df["Discount Applied"],dtype=int)

      No  Yes
0      0    1
1      0    1
2      0    1
3      0    1
4      0    1
...   ..  ...
2663   1    0
2664   1    0
2665   1    0
2666   1    0
2667   1    0

[2652 rows x 2 columns]

In [164]:
pd.get_dummies(df["Promo Code Used"],dtype=int)

      No  Yes
0      0    1
1      0    1
2      0    1
3      0    1
4      0    1
...   ..  ...
2663   1    0
2664   1    0
2665   1    0
2666   1    0
2667   1    0

[2652 rows x 2 columns]

### Scaling

In [189]:
df.head()

,Age,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,55.0,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.099609,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,19.0,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.800781,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,50.0,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.099609,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,21.0,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.500000,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,44.0,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.699219,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [167]:
df["Age"].mean(),df["Age"].median()  #As the mean and median have small difference we can go for normalization

(44.093514328808446, 44.0)

In [168]:
def normalization(x):
    n = (x-df["Age"].min())/(df["Age"].max()-df["Age"].min())
    return n

In [169]:
df["Age"].apply(normalization)

0       0.711538
1       0.019231
2       0.615385
3       0.057692
4       0.500000
          ...
2663    0.807692
2664    0.634615
2665    0.096154
2666    0.038462
2667    0.634615
Name: Age, Length: 2652, dtype: float64

In [174]:
df["Purchase Amount (USD)"].mean(),df["Purchase Amount (USD)"].median()

(59.536199095022624, 60.0)

In [176]:
def normalization(x):
    n= (x-df["Purchase Amount (USD)"].min())/(df["Purchase Amount (USD)"].max()-df["Purchase Amount (USD)"].min())
    return n

In [177]:
df["Purchase Amount (USD)"].apply(normalization)

0       0.4125
1       0.5500
2       0.6625
3       0.8750
4       0.3625
         ...
2663    0.4750
2664    0.8000
2665    0.0125
2666    0.1875
2667    0.2875
Name: Purchase Amount (USD), Length: 2652, dtype: float64

In [179]:
df["Review Rating"].mean(),df["Review Rating"].median()

(3.752, 3.8)

In [180]:
def normalization(x):
    n= (x-df["Review Rating"].min())/(df["Review Rating"].max()-df["Review Rating"].min())
    return n

In [181]:
df["Review Rating"].apply(normalization)

0       0.239844
1       0.520312
2       0.239844
3       0.400000
4       0.079687
          ...
2663    0.320312
2664    0.560156
2665    0.560156
2666    0.679688
2667    0.840625
Name: Review Rating, Length: 2652, dtype: float64

In [185]:
df["Previous Purchases"].mean(),df["Previous Purchases"].median()

(25.707013574660632, 26.0)

In [186]:
def normalization(x):
    n = (x-df["Previous Purchases"].min())/(df["Previous Purchases"].max()-df["Previous Purchases"].min())
    return n

In [188]:
df["Previous Purchases"].apply(normalization)

0       0.265306
1       0.020408
2       0.448980
3       0.979592
4       0.612245
          ...
2663    0.489796
2664    0.265306
2665    0.265306
2666    0.918367
2667    0.530612
Name: Previous Purchases, Length: 2652, dtype: float64